@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.fix-container{ 
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
 }
 .hero_gradient {
    transform: rotate(150.688deg);
    filter: blur(125px);
    background: linear-gradient(to right, rgba(250, 0, 255) 0%, transparent 100%);
 }
@media screen and (min-width: 1024px)  {
    .hero_gradient {
        transform: rotate(-120.256deg);
    }
}
.hero_gradient__line{
    width: 125px;
    height: 125px;
    background: radial-gradient(circle, rgba(96, 92, 234), transparent);
    filter: blur(50px);
}
.centered-line {
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.mission_gradient__line {
    width: 85px;
    height: 85px;
    background: radial-gradient(circle, rgba(241, 1, 191) 0%, transparent 100%);
    filter: blur(50px);
}

.background-with-gradient {
    background: linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%), url('/scannerBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.centered-line-2 {
    left: 50%;
    transform: translateX(-50%);
}
.gradient{
    background: linear-gradient(180deg, #000 -1.85%, rgba(0, 0, 0, 0.67) 11.21%, rgba(0, 0, 0, 0.00) 54.71%, #000 83.92%);
}
/* .bg-img{
    background: linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%), url('/QRcodeImgL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */
.bg-img {
    background: linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%), url('/QRcodeImgR.png'),  url('/QRcodeImgL.png');
    background-size: 50% 100%,50% 100%;
    background-position: left top, right top;
    background-repeat: no-repeat;
}

.centered-phone {
    left: 50%;
    transform: translateX(-50%);
}



.gradient {
    position: relative;
}

.gradient::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:  linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%);
    z-index: 0;
    /* Чтобы градиент был поверх изображений */
}

.background-QRcode1 {
    background: linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%), url('/QRcodeImgL.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   z-index: 1;
}
.background-QRcode2 {
    background: linear-gradient(180deg, #000 -3.1%, rgba(0, 0, 0, 0.00) 56.76%, #000 83.92%), url('/QRcodeImgR.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}
.circle {
    background: radial-gradient(circle, #F101BF 2.82%, #06F 97.06%);
    transform: translate(-50%, -50%);
    filter: blur(155.784423828125px);
    opacity: 0.15;
}
.centred{
    transform: translate(-50%, -50%);
}
.gradient-ordering-1{
    background: radial-gradient(circle, #F101BF 2.82%, #06F 97.06%);
    filter: blur(70px);
    opacity: 0.2;
}
.no-tab_bg{
    background: linear-gradient(0deg, #000 6.8%, rgba(0, 0, 0, 0.00) 51.62%, #000 97.38%), url('/notabBg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.input-get{
    @apply w-full rounded-xl py-6 px-5 text-base sm:text-lg outline-none border-none font-normal text-[#BFBFBF]
}
.input-get2 {
    @apply w-full sm:w-1/2 rounded-xl py-6 px-5 text-base sm:text-lg outline-none border-none font-normal text-[#BFBFBF]
}